/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY + FONT + BACKGROUND*/
body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgba(84, 109, 155, 0.993), rgba(212, 144, 167, 0.993)), url(../assets/people-sports.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

/* CONTAINER */

.container {
    max-width: 690px;
    width: 100%;
    margin: 30px auto 30px auto;
    text-align: left;
    padding: 20px;
    background-color: rgba(194, 194, 194, 0.5);
    border-radius: 15px 50px;
}

/* HEADER */

h1, p {
    text-align: center;
}

/* LABELS */

label {
    display: block;
    margin: 0.5rem 0;
}

form {
    margin: 0 auto;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
}

.form-group {
    padding: 1rem 0;
    border-bottom: 3px solid #3b3b4f;
}

input, textarea, select {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
}

.inline, .input-checkbox {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input, textarea, select {
    background-color: rgb(23, 24, 49);
    color: rgba(255, 255, 255, 100%);
    border: 1px solid rgb(23, 24, 49);
}


input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
}

input[type="file"] {
    padding: 1px 2px;
}
